{{ include('common/header.twig') }}
{{ include('common/body_header.twig') }}

{% import 'parts/header.twig' as header %}

{{ header.javascript_start }}

	function set_random_string(){
		//使用文字の定義
		var str = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
		
		//桁数の定義
		var len = 8;
		
		//ランダムな文字列の生成
		var result = "";
		for(var i=0;i<len;i++){
			result += str.charAt(Math.floor(Math.random() * str.length));
		}
		
		document.getElementById("password").value = result;
	}
	
{{ header.javascript_end }}

{% set value = "リセット" %}

{% import 'parts/form.twig' as form %}
{% import 'parts/main_body.twig' as main %}

{{ main.event_start }}
	
	{{ form.form_title("パスワードリセット") }}
		<div class="err-area">
			{{ include('common/err_msg.twig') }}
		</div>
		
		{{ form.form_start("inputform", "", "input-box", base_url~"password/PasswordReset/", "post") }}
			{{ form.form_hidden("", "id", id) }}
			{{ form.form_hidden("", "action", action) }}
			{{ form.form_hidden("", "class_path", class_path) }}
			<p class="admin-des">パスワードは半角英数字8文字以内で入力してください。</p>
				<dl>
					<dt>{{ form.set_col("ユーザー", 1) }}</dt>
					<dd>{{ form_select("employee_id", employee_map, employee_id)|raw }}</dd>
					<dt>{{ form.set_col("パスワード", 1) }}</dt>
					<dd>{{ form.input("password", password, "text", "", "", 30) }}{{ form.input_button(password_make, "パスワード", "", "", "set_random_string();") }}</dd>
				</dl>
		{{ form.form_end }}
		{{ form.action(action, value) }}
		</div>
		{{ main.return_top(base_url) }}
		</div>
	
	</div>

{{ main.main_end }}

{{ include('common/footer.twig') }}